
body{
    background-color:#fff;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
hr{
    width: 75%;
    text-align: center;
}
p{
    font-size: 120%;
    text-align: justify;
}
table, tr, td{ 
    border: black 1px solid; 
    width:40%; 
}
h3{
    text-align: right;
}
hr{
    border: black 2px solid;
}

